body {
    text-align: center;
    font-family: Georgia, Times, serif;
    color: purple;
}

button {
    border-radius: 25px;
    background-color: grey;
    height: 20pt;
    width: 80pt;
    text-size-adjust: 100%;
    color: white;
    font: Georgia;
}

textarea {
    width: 400px;
    height: 60px;
    border-radius: 8px;
  }