.item1 {
    grid-area: welcome; 
}

.item2 {
    grid-area: video;
}

.item3 {
  grid-area: moments;
}

.profile-grid-container {
  display: grid;
  grid-template-areas: 
  "welcome welcome welcome welcome"
  "moments moments video video"
}
