




.fixturesGrid {
    grid-template-areas: 
    ". . fixtures ."
    ;
  }

  .fixturesTable {
    background-color: #034694;
    border-radius: 20px;
    padding: 20px;
    grid-area: gridItem;
    text-align: center;
    grid-area: fixtures;
  }