
.main-grid {
  text-align: center;
  display: grid;
  padding: 30px;
  grid-template-areas: 
  ". team ."
  ;
  color: black;
  font-size: 20px;
}

.grid-container {
  background-color: green;
  border-radius: 20px;
  grid-area: team;
  padding: 20px;
  display: grid;
  text-align: center;
  grid-template-areas: 
  ". . . . . keeper keeper . . . . ."
  "wingBackRight . . . centerBackRight . . centerBackLeft . . . wingBackLeft"
  ". . . defensiveMidfieldRight . . . . defensiveMidfieldLeft . . ."
  "offensiveMidfieldRight . . . . offensiveMidfieldCenter . . . . . offensiveMidfieldLeft"
  ". . . . . striker striker . . . . ."
  ;
}

.fixturesTable {
  background-color: #034694;
  border-radius: 20px;
  padding: 20px;
  grid-area: team;
  text-align: center;
  color: white;
}

.leagueTable {
  padding: 20px;
  grid-area: team;
  text-align: center;
  color: black;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
}



.title {
  text-align: center;
  grid-area: title;
  padding: 10px;
  border-radius: 20px;
  background-color: #034694;
}

.keeper {
  text-align: center;
  border-radius: 20px;
  grid-area: keeper;
  width: 150px;
  height: 150px;
  padding-bottom: 100px;
  padding-top: 50px;
}

.wingBackLeft {
  border-radius: 20px;
  grid-area: wingBackLeft;
  width: 150px;
  height: 150px;
}

.wingBackRight {
  border-radius: 20px;
  grid-area: wingBackRight;
  width: 150px;
  height: 150px;
}

.centerBackRight {
  border-radius: 20px;
  grid-area: centerBackRight;
  width: 150px;
  height: 150px;
}

.centerBackLeft {
  border-radius: 20px;
  grid-area: centerBackLeft;
  width: 150px;
  height: 150px;
  padding-bottom: 100px;
}


.defensiveMidfieldLeft {
  border-radius: 20px;
  grid-area: defensiveMidfieldLeft;
  width: 150px;
  height: 150px;
}

.defensiveMidfieldRight{
  border-radius: 20px;
  grid-area: defensiveMidfieldRight;
  width: 150px;
  height: 150px;
  padding-bottom: 100px;
}

.offensiveMidfieldRight{
  border-radius: 20px;
  grid-area: offensiveMidfieldRight;
  width: 150px;
  height: 150px;
}

.offensiveMidfieldCenter{
  border-radius: 20px;
  grid-area: offensiveMidfieldCenter;
  width: 150px;
  height: 150px;
}

.offensiveMidfieldLeft{
  border-radius: 20px;
  grid-area: offensiveMidfieldLeft;
  width: 150px;
  height: 150px;
  padding-bottom: 200px;
}

.striker{
  border-radius: 20px;
  grid-area: striker;
  width: 150px;
  height: 150px;
  padding-bottom: 200px;
}

.banner {
  display: grid;
  grid-template-areas: "banner1 banner2 banner3";
  height: 200px;
}

.banner1 {
  grid-area: banner1;
  background-image: url("tammytammy.png");
}

.banner2 {
  grid-area: banner2;
  background-image: url("pulisicBanner.png");
}

.banner3 {
  grid-area: banner3;
  background-image: url("willian.png");
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
}

th, tr, td {
  text-align: left;
  padding: 8px;
  border: 1px solid black;
}
